<div>
  <div>
    <h1>
      List of all languages
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new language
    </h2>

    <form action="/insert_language" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="spoken_languages_count_box">
          Spoken languages count
        </label>

        <input type="text" id="spoken_languages_count_box" name="query_spoken_languages_count">
      </div>

      <button>
        Create language
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Spoken languages count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_languages.each do |a_language| %>
      <tr>
        <td>
          <%= a_language.id %>
        </td>

        <td>
          <%= a_language.name %>
        </td>

        <td>
          <%= a_language.spoken_languages_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_language.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_language.updated_at) %> ago
        </td>

        <td>
          <a href="/languages/<%= a_language.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
