<div>
  <div>
    <h1>
      List of all skills
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new skill
    </h2>

    <form action="/insert_skill" method="post">
      <div>
        <label for="task_id_box">
          Task
        </label>

        <input type="text" id="task_id_box" name="query_task_id">
      </div>

      <div>
        <label for="provider_id_box">
          Provider
        </label>

        <input type="text" id="provider_id_box" name="query_provider_id">
      </div>

      <button>
        Create skill
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Task
        </th>

        <th>
          Provider
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_skills.each do |a_skill| %>
      <tr>
        <td>
          <%= a_skill.id %>
        </td>

        <td>
          <%= a_skill.task_id %>
        </td>

        <td>
          <%= a_skill.provider_id %>
        </td>

        <td>
          <%= time_ago_in_words(a_skill.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_skill.updated_at) %> ago
        </td>

        <td>
          <a href="/skills/<%= a_skill.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
