<div>
  <div>
    <h1>
      List of all areas
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new area
    </h2>

    <form action="/insert_area" method="post">
      <div>
        <label for="neighborhood_id_box">
          Neighborhood
        </label>

        <input type="text" id="neighborhood_id_box" name="query_neighborhood_id">
      </div>

      <div>
        <label for="provider_id_box">
          Provider
        </label>

        <input type="text" id="provider_id_box" name="query_provider_id">
      </div>

      <button>
        Create area
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Neighborhood
        </th>

        <th>
          Provider
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_areas.each do |an_area| %>
      <tr>
        <td>
          <%= an_area.id %>
        </td>

        <td>
          <%= an_area.neighborhood_id %>
        </td>

        <td>
          <%= an_area.provider_id %>
        </td>

        <td>
          <%= time_ago_in_words(an_area.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_area.updated_at) %> ago
        </td>

        <td>
          <a href="/areas/<%= an_area.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
