<div>
  <div>
    <h1>
      Area #<%= @the_area.id %> details
    </h1>

    <div>
      <div>
        <a href="/areas">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_area/<%= @the_area.id %>">
          Delete area
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Neighborhood
      </dt>
      <dd>
        <%= @the_area.neighborhood_id %>
      </dd>

      <dt>
        Provider
      </dt>
      <dd>
        <%= @the_area.provider_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_area.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_area.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit area
    </h2>

    <form action="/modify_area/<%= @the_area.id %>"  method="post" >
      <div>
        <label for="neighborhood_id_box">
          Neighborhood
        </label>

        <input type="text" id="neighborhood_id_box" name="query_neighborhood_id" value="<%= @the_area.neighborhood_id %>">
      </div>

      <div>
        <label for="provider_id_box">
          Provider
        </label>

        <input type="text" id="provider_id_box" name="query_provider_id" value="<%= @the_area.provider_id %>">
      </div>

      <button>
        Update area
      </button>
    </form>
  </div>
</div>

<hr>
