INDEX

<h3>
  All Provider
</h3>

<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Price
    </th>

    <th>
      Languages
    </th>

    <th>
      Services
    </th>

    <th>
      Link
    </th>
  </tr>

  <% @list_of_providers.each do |provider| %>
  <tr>
    <td>
      <img src="<%= provider.image %>" width="250px">
    </td>

    <td>
      <%= provider.full_name %>
    </td>

    <td>
      <%= provider.price %>
    </td>

    <td>
      <% provider.spoken_languages.each do |a_spoken_language| %>
          <%= a_spoken_language.language.name %>
      <% end %>
    </td>

    <td>
      <% provider.services.each do |a_service| %>
          <%= a_service.need.name %>
      <% end %>
    </td>

    <td>
      <a href="/provider/<%= provider.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>