INDEX

<h3>
  All Providers
</h3>

<%= search_form_for(@q, url: "/", method: :get) do |f| %>
  <p>Narrow results:</p>

  <div>
    <%= f.label :first_name_cont, "Title containing" %>
    <%= f.text_field :first_name_cont, :placeholder => "Enter a few characters" %>
  </div>

  <%= f.submit :class => "btn btn-primary btn-block" %>
  
  <a href="/">Clear filters</a>
<% end %>


<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Price
    </th>

    <th>
      Languages
    </th>

    <th>
      Services
    </th>

    <th>
      Link
    </th>
  </tr>

  <% @providers.each do |provider| %>
  <tr>
    <td>
      <img src="<%= provider.image %>" width="250px">
    </td>

    <td>
      <%= provider.full_name %>
    </td>

    <td>
      <%= provider.price %>
    </td>

    <td>
      <% provider.spoken_languages.each do |a_spoken_language| %>
          <%= a_spoken_language.language.name %>
      <% end %>
    </td>

    <td>
      <% provider.services.each do |a_service| %>
          <%= a_service.need.name %>
      <% end %>
    </td>

    <td>
      <a href="/provider/<%= provider.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>