<h1>
  Find Local Care For Your Child With Special Needs
</h1>

<%= search_form_for(@q, url: "/", method: :get) do |f| %>
  <p>Search Care Providers:</p>

  <div>
    <%= f.label :price_gteq, "Min Price" %>
    <%= f.text_field :price_gteq %>
  </div>

  <div>
    <%= f.label :price_lteq, "Max Price" %>
    <%= f.text_field :price_lteq %>
  </div>

  <div>
    <%= f.label :languages_name_cont, "Language" %>
    <%= f.select :languages_name_cont, options_from_collection_for_select(Language.all, :name, :name, @q.languages_name_cont), { :include_blank => true } %>
  </div>


  <div>
    <%= f.label :neighborhoods_name_cont, "Neighborhood" %>
    <%= f.select :neighborhoods_name_cont, options_from_collection_for_select(Neighborhood.all, :name, :name, @q.neighborhoods_name_cont), { :include_blank => true } %>
  </div>

  <%= f.submit :class => "btn btn-success" %>
  
  <a href="/" class="btn btn-warning">Clear filters</a>
<% end %>


<table border="1">
  <tr>
    <th>
      Image
    </th>

    <th>
      Name
    </th>

    <th>
      Price
    </th>

    <th>
      Languages
    </th>

    <th>
      Services
    </th>

    <th>
      Link
    </th>
  </tr>

  <% @providers.each do |provider| %>
  <tr>
    <td>
      <img src="<%= provider.image %>" width="250px">
    </td>

    <td>
      <%= provider.full_name %>
    </td>

    <td>
      $<%= provider.price.to_i %>/hr
    </td>

    <td>
      <% provider.spoken_languages.each do |a_spoken_language| %>
          <%= a_spoken_language.language.name %>
      <% end %>
    </td>

    <td>
      <% provider.services.each do |a_service| %>
          <%= a_service.need.name %>
      <% end %>
    </td>

    <td>
      <a href="/provider/<%= provider.id %>">
        Show details
      </a>
    </td>
  </tr>
  <% end %>
</table>