<h1>
  <%= @current_provider.first_name %>, edit your profile.
</h1>

<h3>
  What language do you speak?
</h3>

<% Language.all.each do |a_language|%>
  <form action="/insert_spoken_language" method="post">
    <label for="language_<%= a_language.id %>"></label>
    <input id="language_<%= a_language.id %>" type="hidden" name="query_language_id" value="<%= a_language.id %>">

    <button><%= a_language.name %></button>
  </form>
<% end %>

<h3>
  Languages you speak
</h3>

<div>
  <table>
    <% @the_provider.spoken_languages.each do |a_spoken_language| %>

      <tr>
        <td>
          <%= a_spoken_language.language.name %>
        </td>

        <td>
          <a href="/delete_spoken_language/<%= a_spoken_language.id %>">Remove</a>
        </td>
      <tr>

    <% end %>
  </table>
</div>


<h3>
  What Special Needs Do You Serve?
</h3>

<% Need.all.each do |a_need|%>
  <form action="/insert_service" method="post">
    <label for="need_<%= a_need.id %>"></label>
    <input id="need_<%= a_need.id %>" type="hidden" name="query_need_id" value="<%= a_need.id %>">

    <button><%= a_need.name %></button>
  </form>
<% end %>


<h3>
  Special Needs You Serve
</h3>

<div>
  <table>
    <% @the_provider.services.each do |a_service| %>

      <tr>
        <td>
          <%= a_service.need.name %>
        </td>

        <td>
          <%= a_service.need.description %>
        </td>

        <td>
          <a href="/delete_service/<%= a_service.id %>">Remove</a>
        </td>
      <tr>

    <% end %>
  </table>
</div>

<div>
  <form action="/provider/<%= @current_provider.id %>">
    <button>Done</button>
  </form>
</div>