<h1>
  <%= @the_provider.first_name %>
</h1>

<div>
  <img src="<%= @the_provider.image %>" width="250px">
</div>

<div>
  <h1>
    $<%= @the_provider.price %>/hr
  </h1>
</div>

<div>
  <a href="mailto:<%= @the_provider.email %>">
    <button class="button">Email</button>
  </a>
</div>

<% if @current_provider != nil %>
  <% if @current_provider.id == @the_provider.id %>
    <form action="/provider/<%= @current_provider.id %>/edit" method="get">
      <button>Edit</button>
    </form>
  <% else %>
  <% end %>
<% else %>
<% end %>

<h3>
  Languages
</h3>

<div>
  <table>
    <% @the_provider.spoken_languages.each do |a_spoken_language| %>

      <tr>
        <td>
          <%= a_spoken_language.language.name %>
        </td>
      <tr>

    <% end %>
  </table>
</div>

<h3>
  Special Needs Served
</h3>

<div>
  <table>
    <% @the_provider.services.each do |a_service| %>

      <tr>
        <td>
          <%= a_service.need.name %>
        </td>

        <td>
          <%= a_service.need.description %>
        </td>
      <tr>

    <% end %>
  </table>
</div>