<h1>
  <%= @current_provider.first_name %>, edit your profile.
</h1>

<h3>
  What language do you speak?
</h3>

<% Language.all.each do |a_language|%>
  <form action="/insert_spoken_language" method="post">
    <label for="language_<%= a_language.id %>"></label>
    <input id="language_<%= a_language.id %>" type="hidden" name="query_language_id" value="<%= a_language.id %>">

    <button><%= a_language.name %></button>
  </form>
<% end %>

<h3>
  Languages you speak
</h3>

<div>
  <table>
    <% @the_provider.spoken_languages.each do |a_spoken_language| %>

      <tr>
        <td>
          <%= a_spoken_language.language.name %>
        </td>

        <td>
          <a href="/delete_spoken_language/<%= a_spoken_language.id %>">Remove</a>
      <tr>

    <% end %>
  </table>
</div>