<h1>
  <%= @current_provider.first_name %>, edit your profile.
</h1>


  <div>
    <form action="/modify_provider" method="post" enctype="multipart/form-data">
      <div>
        <label for="email_box">Email</label>
        <input id="email_box" name="query_email" value="<%= @current_provider.email %>">
      </div>
      <div>
        <label for="first_name_box">First name</label>
        <input id="first_name_box" name="query_first_name" value="<%= @current_provider.first_name %>">
      </div>
      <div>
        <label for="last_name_box">Last name</label>
        <input id="last_name_box" name="query_last_name" value="<%= @current_provider.last_name %>">
      </div>
      <div>
        <label for="price_box">Price</label>
        <input id="price_box" name="query_price" value="<%= @current_provider.price %>">
      </div>
      <div>
        <label for="image_box">Image</label>
          <img src="<%= @current_provider.image %>" class="img-responsive" width="250px">
        <input type="file" id="image_box" name="image" class="form-control">
      </div>
      <div>
        <label for="description_box">Description</label>
        <input id="description_box" name="query_description" value="<%= @current_provider.description %>">
      </div>
      <div>
        <label for="reviews_count_box">Reviews count</label>
        <input id="reviews_count_box" name="query_reviews_count" value="<%= @current_provider.reviews_count %>">
      </div>
      <div>
        <label for="spoken_languages_count_box">Spoken languages count</label>
        <input id="spoken_languages_count_box" name="query_spoken_languages_count" value="<%= @current_provider.spoken_languages_count %>">
      </div>

      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
</div>

<h3>
  What language do you speak?
</h3>

<% Language.all.each do |a_language|%>
  <form action="/insert_spoken_language" method="post">
    <label for="language_<%= a_language.id %>"></label>
    <input id="language_<%= a_language.id %>" type="hidden" name="query_language_id" value="<%= a_language.id %>">

    <button><%= a_language.name %></button>
  </form>
<% end %>

<h3>
  Languages you speak
</h3>

<div>
  <table>
    <% @the_provider.spoken_languages.each do |a_spoken_language| %>

      <tr>
        <td>
          <%= a_spoken_language.language.name %>
        </td>

        <td>
          <a href="/delete_spoken_language/<%= a_spoken_language.id %>">Remove</a>
        </td>
      <tr>

    <% end %>
  </table>
</div>


<% Neighborhood.all.each do |a_neighborhood|%>
  <form action="/insert_area" method="post">
    <label for="neighborhood_<%= a_neighborhood.id %>"></label>
    <input id="neighborhood_<%= a_neighborhood.id %>" type="hidden" name="query_neighborhood_id" value="<%= a_neighborhood.id %>">

    <button><%= a_neighborhood.name %></button>
  </form>
<% end %>

<h3>
  Neighborhoods you serve
</h3>

<div>
  <table>
    <% @the_provider.areas.each do |a_area| %>

      <tr>
        <td>
          <%= a_area.neighborhood.name %>
        </td>

        <td>
          <a href="/delete_area/<%= a_area.id %>">Remove</a>
        </td>
      <tr>

    <% end %>
  </table>
</div>



<h3>
  What Special Needs Do You Serve?
</h3>

<% Need.all.each do |a_need|%>
  <form action="/insert_service" method="post">
    <label for="need_<%= a_need.id %>"></label>
    <input id="need_<%= a_need.id %>" type="hidden" name="query_need_id" value="<%= a_need.id %>">

    <button><%= a_need.name %></button>
  </form>
<% end %>


<h3>
  Special Needs You Serve
</h3>

<div>
  <table>
    <% @the_provider.services.each do |a_service| %>

      <tr>
        <td>
          <%= a_service.need.name %>
        </td>

        <td>
          <%= a_service.need.description %>
        </td>

        <td>
          <a href="/delete_service/<%= a_service.id %>">Remove</a>
        </td>
      <tr>

    <% end %>
  </table>
</div>


<h3>
  What Skills Do You Have?
</h3>

<% Task.all.each do |a_task|%>
  <form action="/insert_skill" method="post">
    <label for="task_<%= a_task.id %>"></label>
    <input id="task_<%= a_task.id %>" type="hidden" name="query_task_id" value="<%= a_task.id %>">

    <button><%= a_task.name %></button>
  </form>
<% end %>


<h3>
  Skills
</h3>

<div>
  <table>
    <% @the_provider.skills.each do |a_skill| %>

      <tr>
        <td>
          <%= a_skill.task.name %>
        </td>

        <td>
          <a href="/delete_skill/<%= a_skill.id %>">Remove</a>
        </td>
      <tr>

    <% end %>
  </table>
</div>

<div>
  <form action="/provider/<%= @current_provider.id %>">
    <button>Done</button>
  </form>
</div>