<h1>
  <%= @the_provider.first_name %>
</h1>

<div>
  <img src="<%= @the_provider.image %>" width="250px">
</div>

<div>
  <h1>
    $<%= @the_provider.price %>/hr
  </h1>
</div>

<div>
  <a href="mailto:<%= @the_provider.email %>">
    <button class="button">Email</button>
  </a>
</div>

<% if @current_provider != nil %>
  <% if @current_provider.id == @the_provider.id %>
    <form action="/provider/<%= @current_provider.id %>/edit" method="get">
      <button>Edit</button>
    </form>
  <% else %>
  <% end %>
<% else %>
<% end %>

<h3>
  Description
</h3>

<p>
  <%= @the_provider.description %>
</p>

<h3>
  Languages
</h3>

<div>
  <table>
    <% @the_provider.languages.each do |a_language| %>

      <tr>
        <td>
          <%= a_language.name %>
        </td>
      <tr>

    <% end %>
  </table>
</div>

<h3>
  Special Needs Served
</h3>

<div>
  <table>
    <% @the_provider.services.each do |a_service| %>

      <tr>
        <td>
          <%= a_service.need.name %>
        </td>

        <td>
          <%= a_service.need.description %>
        </td>
      <tr>

    <% end %>
  </table>
</div>

<h3>
  Reviews
</h3>

<% if @current_user != nil %>
  <form action="/insert_review" method="post" enctype="multipart/form-data">

  <div>
    <label for="title">Title</label>
    <input id="title" name="query_title" type="text">
  </div>

  <div>
    <label for="rating">Rating</label>
    <input id="rating" name="query_rating" type="text">
  </div>

  <div>
    <label for="description">Description</label>
    <textarea id="description" name="query_description">
    </textarea>
  </div>
  
  <div>
    <label for="provider_id"></label>
    <input id="provider_id" name="query_provider_id" type="hidden" value="<%= @the_provider.id %>">
  </div>

  <div>
    <label for="author_id"></label>
    <input id="author_id" name="query_author_id" type="hidden">
  </div>

  <button>
    Post a Review
  </button>

  </form>
<% else %>
<% end %>

<div>
  <table>
    <% @the_provider.reviews.each do |a_review| %>

      <tr>
        <td>
          <%= a_review.rating %>
        </td>

        <td>
          <%= a_review.title %>
        </td>

        <td>
          <%= a_review.description %>
        </td>

        <td>
          <%= a_review.user.first_name %>
        </td>

      <% if @current_user != nil %>
        <% if a_review.author_id == @current_user.id %>
          <td>
            <a href="/delete_review/<%= a_review.id %>">
              Remove
            </a>
          </td>
        <% else %>
        <% end %>
      <% else %>
      <% end %>
      <tr>

    <% end %>
  </table>
</div>