<h1>
  <%= @current_provider.first_name %>, edit your profile.
</h1>

<h3>
  What language do you speak?
</h3>

<% Language.all.each do |a_language|%>
  <form action="/insert_spoken_language" method="post">
    <label for="language_<%= a_language.id %>"></label>
    <input id="language_<%= a_language.id %>" type="hidden" name="query_language_id" value="<%= a_language.id %>">

    <button><%= a_language.name %></button>
  </form>
<% end %>

<form action="/insert_spoken_language" method="post">
  <label for="language_name">Choose a language</label>
  <select id="language_name" name="query_language_id">
    <option value="1">English</option>
    <option value="2">Spanish</option>
    <option value="3">Polish</option>
    <option value="4">Ukrainian</option>
    <option value="5">Arabic</option>
  </select>

  <label for="provider_id"></label>
  <input id="provider_id" type="hidden" name="query_provider_id" value="<%= params.fetch("path_id") %>">

  <button>
    Submit
  </button>
</form>

<h3>
  Languages you speak
</h3>

<div>
  <table>
    <% @the_provider.spoken_languages.each do |a_spoken_language| %>

      <tr>
        <td>
          <%= a_spoken_language.language.name %>
        </td>
      <tr>

    <% end %>
  </table>
</div>