<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">
    

    <!-- Connect Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- Connect Bootstrap JavaScript and its dependencies -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

    <!-- Connect Font Awesome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="/my_styles.css">

  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-success text-white">
      <div class="container">
      <a class="navbar-brand" href="/">
        <img class="fas fa-hand-holding-heart">
        <strong>HUG</strong>
      </a>
      
        <div class="collapse navbar-collapse navbar-nav" id="navbarSupportedContent">
            <% if @current_provider == nil && @current_user == nil %>
              <% elsif @current_provider != nil %>
                <li class="nav-item active">
                  <a class="nav-link" href="/provider/<%= @current_provider.id %>"><%= @current_provider.first_name %><span class="sr-only">(current)</span></a>
                </li>
              <% elsif @current_user != nil %>
                <li class="nav-item active">
                  <a class="nav-link" href="/user/<%= @current_user.id %>"><%= @current_user.first_name %><span class="sr-only">(current)</span></a>
                </li>
              <% end %>

              <% if @current_provider == nil && @current_user == nil %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-expanded="false">
                  Sign In
                </a>
              
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/user_sign_in">User</a>
                  <a class="dropdown-item" href="/provider_sign_in">Provider</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/user_sign_up">User Sign Up</a>
                  <a class="dropdown-item" href="/provider_sign_up">Provider Sign Up</a>
                </div>
              <% else %>
              <% end %>
          </div>
          </div>
    </nav>

    <%= flash[:notice] %>
    <%= flash[:alert] %>


    <%= yield %>
  </body>
</html>
