<!DOCTYPE html>
<html>
  <head>
    <title>FinalProject</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
    <nav>
      <ul>
      <li>
        <a href="/">
          Home
        </a>
      </li>

      <% if @current_provider == nil && @current_user == nil %>
      <li>
        <a href="/provider_sign_up">
          Provider Sign Up
        </a>
      </li>

      <li>
        <a href="/provider_sign_in">
          Provider Sign In
        </a>
      </li>

      <li>
        <a href="/user_sign_up">
          User Sign Up
        </a>
      </li>

      <li>
        <a href="/user_sign_in">
          User Sign In
        </a>
      </li>

      <% elsif @current_provider != nil %>
      <li>
        <a href="/provider_sign_out">
          Provider Sign Out
        </a>
      </li>

      <li>
        <a href="/provider/<%= @current_provider.id %>">
          <%= @current_provider.first_name %>
        </a>
      </li>

      <% elsif @current_user != nil %>
      <li>
        <a href="/user_sign_out">
          User Sign Out
        </a>
      </li>

      <li>
        <a href="/user/<%= @current_user.id %>">
          <%= @current_user.first_name %>
        </a>
      </li>
      <% else %>
      
      <% end %>
      </ul>

    </nav>

    <%= flash[:notice] %>
    <%= flash[:alert] %>


    <%= yield %>
  </body>
</html>
